<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <insert id="insertUser" paramterType="com.lagou.pojo.User">
        insert into user values(#{id}, #{username})
    </insert>

    <update id="updateUserNameById" paramterType="com.lagou.pojo.User">
        update user set username = #{username} where id = #{id}
    </update>

    <delete id="deleteUserById" paramterType="com.lagou.pojo.User">
        delete from user where id = #{id}
    </delete>
</mapper>
